html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#messages_list {
  width: 100vw;
  height: 80vw;
  background-color: #ccc;
}

#textbox {
  width: 100vw;
  height: 20vw;
}

.textinput {
  width: 60vw;
}

button {
  float: right;
  display: block;
  width: 20%;
  height: 100%;
}
