html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: #03a1fc;
  color: white;
  padding: 10px;
  box-shadow: 0 0 10px #bbb;
  margin: 5px 5px 0 5px;
}

.back {
  margin-bottom: 20px;
}

.App {
  float: left;
}

.sidebar {
  float: left;
  width: 60px;
  height: calc(100vh - 20px);
  background-color: #03a1fc;
  color: #fff;
  padding: 10px;
  margin: 0;
}

.sidebar svg {
  margin-bottom: 10px;
}

.main {
  float: left;
  width: calc(100vw - 80px);
  height: calc(100vh);
  background: #eee;
}

#thread_list {
  text-align: center;
  padding: 20px;
}

.no-threads {
  margin-top: 100px;
}

#thread_creator {
  margin: 20px;
  padding: 20px;
  width: calc(100%-40px);
  background: #fff;
  box-shadow: 0 0 5px #bbb;
}

textarea {
  width: calc(100% - 30px);
  padding: 10px;
  margin: 5px;
}

#thread_creator .contentInput textarea {
  min-height: 200px;
}

.thread_entry, .post {
  background: #fff;
  width: 100%;
  float: left;
  padding: 15px;
  box-shadow: 0 0 3px #bbb;
  box-sizing: border-box;
  margin-bottom: 15px;
  text-align: left;
}

.author {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
}

.thread_entry button {
  float: right;
}

#thread_view {
  padding: 20px;
}

.reply_box {
  background: #ccc;
  float: left;
  width: calc(100% - 20px);
  padding: 10px;
}

.reply_box .contentInput textarea {
  min-height: 100px;
}

